

<p>Empleado</p>
<button class="btn btn-outline-primary" routerLink="/empleado/agregarNuevo"><i class="far fa-eye"></i> Agregar nuevo</button>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Contacto</th>
                <th scope="col">Calle</th>
                <th scope="col">Calle Secundaria</th>
                <th scope="col">Detalles</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contacto of contactos">
                <td>{{contacto.id}}</td>
                <td>{{contacto.nombreContacto}}</td>
                <td>{{contacto.calle}}</td>
                <td>{{contacto.calleSecundaria}}</td>
                <td><button class="btn btn-outline-primary" routerLink="/detalle/{{contacto.id}}"><i class="far fa-eye"></i> Ver</button></td>
                <td><button class="btn btn-outline-warning" routerLink="/nuevo/{{contacto.id}}"><i class="far fa-edit"></i> Editar</button></td>
                <td><button class="btn btn-outline-danger" ><i class="far fa-trash-alt"></i> Eliminar</button></td> 
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--(click)="borrar(producto.id)" -->
