<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form (ngSubmit)= "onCreate()">
                  <h1>Estados</h1>
                  <p class="text-muted">Crear Estado</p>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" id="nombreEstado" name="nombreEstado" [(ngModel)]="estado.nombreEstado" class="form-control" placeholder="Nombre del Estado" 
                    required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" id="codigo" name="codigo" [(ngModel)]="estado.codigo" class="form-control" placeholder="Código" 
                    required>
                  </div>
                  
                  <div class="form-group select-wrapper">
                    <label>Seleccione un País</label>
                    <select class="form-control" [(ngModel)]="pais1" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let pais of paises" value={{pais.id}} >{{pais.nombrePais}}</option>
                    </select>
                  </div>
                  <input type="submit" class="btn btn-block btn-success" value="Guardar" /> 
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  