<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <strong>Agregar</strong> Usuario
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Nombre:</label>
                                    <input type="text" placeholder="Usuario" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Correo electronico:</label>
                                    <input type="text" placeholder="correo electronico" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label>Contraseña:</label>
                                    <input type="password" placeholder="Contraseña" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8"><label>Estado:</label></div>
                                    <div class="col-md-4">
                                        <input type="radio" placeholder="Contraseña" class="form-control">
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" class="btn btn-outline btn-danger" value="Guardar" >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong>Agregar</strong> Usuario
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <img #imagenI src="assets/img/avatars/perfil.png" class="imagenes1 img-avatar"
                         alt="admin@bootstrapmaster.com" title="imagen" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label >Seleccionar imagen</label>
                                <input #fileImagen name="cargarImagen" type="file" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="button" class="btn btn-outline btn-danger" value="Guardar" (click)="cargarImagen()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>