<div class="row" cdkDropListGroup>

    <div class="col-md-3" cdkDropList [cdkDropListData]="this.listArrayDin.get(this.etapa.id)"
        (cdkDropListDropped)="drop($event)" *ngFor="let etapa of this.etapas" id="{{etapa.id}}">
        <div class="card">
            <div class="card-header">{{etapa.nombre}}</div>
            <div class="card-body">
                <div *ngFor="let tarea of this.stopCount(etapa.id)" cdkDrag draggable="true" cdkScrollable>
                    
                        <div class="list-group-item list-group-item-accent-danger" routerLink="/proyecto/tarea/{{this.tarea.id}}">
                            <div>
                                <strong>{{tarea.nombre}}</strong>
                            </div>
                            <small class="text-muted mr-3">
                                <i class="icon-calendar"></i>&nbsp; 2021/03/02</small>
                            <small class="text-muted mr-3">
                                <i class="fa fa-clock-o"></i></small>
                        </div>
                        <br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-danger" (click)="this.largeModal.show()">Agregar Etapa</button>
            </div>
        </div>
    </div>
</div>


<!-- Mostrar modal para crear etapa -->

<!-- Inicio de Modal -->

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{this.etapaS.nombre}}</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEta" (ngSubmit)="onCreate()" novalidate autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nombre de la etapa: </label>
                            <input type="text" [(ngModel)]="this.etapaS.nombre" name="etapaS.nombre"
                                class="form-control" placeholder="Etapa" required>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="largeModal.hide()">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="formEta">Guardar Etapa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->