<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="ferm" class="card">
        <div class="card-header" style="background-color: #20a8d8; color: white;">
          <h5><span class="card-title">{{editMode ? 'Editar' : 'Nuevo'}} Titulo</span></h5>    
        </div>
        <div class="card-body">
          <form [formGroup]="ferm">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="titulo"><b>Nombre titulo:</b></label>
                  <input type="text" formControlName="titulo" name="titulo" placeholder="titulo" class="form-control"
                    required>
                  <small class="text-danger" *ngIf="ferm.get('titulo').value == null && ferm.get('titulo').touched">
                    Campo Invalido
                  </small>
                </div>
                <div class="col-md-6">
                  <label for="abreviatura"><b>Abreviatura:</b></label>
                  <input type="text" formControlName="abreviatura" name="abreviatura" placeholder="abreviatura"
                    class="form-control" required>
                  <small class="text-danger"
                    *ngIf="ferm.get('abreviatura').value == null && ferm.get('abreviatura').touched">
                    Campo Invalido
                  </small>
                </div>
              </div>
            </div>
          </form>
          <div class="card-action d-flex justify-content-flex-end">
            <div class="p-1">
              <button class="btn  btn-danger btn-outline" routerLink="/contacto/titulo/listaTitulo">Cancel</button>
            </div>
            <div class="p-1">
              <button class="btn btn-primary btn-outline" [disabled]="ferm.invalid" (click)="submit()">
                {{editMode ? 'Guardar Cambios' : 'Agregar Titulo'}}<i class="material-icons right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>