
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Contactos</a>
    <form class="form-inline" (ngSubmit)="onSearch()">
      <input class="form-control mr-sm-2" type="search" name="busqueda" [(ngModel)]="busqueda" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </nav>
  <input type="button" class="btn btn-outline-primary" routerLink="/contacto/agregarNuevo"  value="Agregar">
  <br>
    <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center"><i class="fa fa-flag"></i></th>        
            <th class="text-center">Nombre del Contacto</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Correo Electonico</th>
            <th class="text-center">Editar</th> 
            <th class="text-center">Eliminar</th>              
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contacto of contactos">
                <td class="text-center"><input type="checkbox"/></td>
                <td>{{contacto.nombreContacto}}</td>
                <td>{{contacto.telefono}}</td>
                <td>{{contacto.correoElectronico}}</td>
                <td class="text-center"><input type="button" class="btn btn-outline-primary" value="Editar" routerLink="/contacto/agregarNuevo/{{contacto.id}}"></td>
                <td class="text-center"><input type="button" class="btn btn-outline-danger" value="Eliminar" (click)="borrar(contacto.id)"></td> 
            </tr>
        </tbody>
      </table>


