<div class="row">
  <div   class="col s12 m12">
    <div *ngIf="ferm"  class="card" class="card blue-grey lighten-5">
      <div  class="card-content">
        <span class="card-title">{{editMode ? 'Editar' : 'Nuevo'}} Contacto</span>
        <form [formGroup]="ferm" >
          <div class="row">

            <div class="input-field col s12">
              <input type="text" id="nombreContacto" formControlName="nombreContacto">
              <label for="nombreContacto" [class.active]="ferm.get('nombreContacto').value !== null" >NombreContacto</label>
              <small class="red-text" *ngIf="ferm.get('nombreContacto').value == null && ferm.get('nombreContacto').touched">
                Campo Invalido
              </small>
            </div>

            <div class="input-field col s12">
              <input type="text" id="calle" formControlName="calle">
              <label for="calle" [class.active]="ferm.get('calle').value !== null">Calle</label>
              <small class="red-text" *ngIf="ferm.get('calle').value == null && ferm.get('calle').touched" >
                Campo Invalido
              </small>
            </div>

             <!-- <div class="input-field col s12"> 
                <label for="titulo" [class.active]="ferm.get('titulo').value !== null">Seleccionar Titulo</label> 
              <select class="form-control" formControlName="titulo">
              <option *ngFor="let titulo of titulos" value={{this.titulo.id}}>{{titulo.titulo}}</option>
              
            </select>
            </div>  -->  
           <!--   <div class="input-field col s12"> 
              <label for="estado" [class.active]="ferm.get('estado').value !== null">Seleccionar estado</label> 
            <select class="form-control" formControlName="estado">
            <option *ngFor="let estado of estados" value={{this.estado.id}}>{{estado.nombreEstado}}</option>    
          </select>
          </div>  -->

            <div class="input-field col s12">
              <input type="text" id="calleSecundaria" formControlName="calleSecundaria">
              <label for="calleSecundaria" [class.active]="ferm.get('calleSecundaria').value !== null">CalleSecundaria</label>
              <small class="red-text" *ngIf="ferm.get('calleSecundaria').value == null && ferm.get('calleSecundaria').touched" >
                Campo Invalido
              </small>
            </div>
        



          </div>
        </form>
      </div>
      <div class="card-action d-flex justify-content-flex-end">
        <div class="p-1">
          <button class="btn waves-effect cyan" routerLink="/contacto/contacto">Cancel</button>
        </div>
        <div class="p-1">
          <button class="btn waves-effect green" [disabled]="ferm.invalid" (click)="submit()">
            {{editMode ? 'Guardar Cambios' : 'Agregar Contacto'}}<i class="material-icons right">send</i></button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="card">
  <div class="card-header">
      <strong>Agregar</strong> Contactos
  </div>
  <div class="card-body">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
              <div class="form-row">

                  <div class="col-md-4">
                      <label for="nombreContacto">Nombre Contato:</label>
                      <input type="text" *ngIf="this.contacto != null" name="contacto.nombreContacto"
                          [(ngModel)]="this.contacto.nombreContacto" class="form-control" placeholder="Nombre Contacto" required>
                  </div>
                  
                  <div class="form-group">
                    <label for="file">subir Imagen:</label>
                    <input type="file"  class="form-control" accept="image/*" (change)="onSelectFile($event)" style="height: 100%">
                </div>

                  <div class="col-md-4">
                      <label for="nombreContacto">Calle</label>
                      <input type="text" *ngIf="this.contacto != null" name="contacto.calle" [(ngModel)]="contacto.calle"
                          class="form-control" placeholder="Calle" required>
                  </div>
                  
              </div>
          </div>

          <div class="form-group">
            <div class="form-row">      
                <div class="col-md-4">
                  <label>Seleccione un Titulo</label>
                  <select class="form-control" [(ngModel)]="this.titulo1"
                      [ngModelOptions]="{standalone: true}">
                      <option  *ngIf="this.contacto.titulo==null" value="0" >--Selecciona un Titulo--</option>
                      <option *ngIf="this.contacto.titulo!=null" hidden="true" value=0 >{{contacto.titulo.titulo}}</option>
                      <option *ngFor="let titulo of titulos" value={{this.titulo.id}}>{{titulo.titulo}}</option>
                  </select>
              </div>

              
              <div class="col-md-4">
                <label for="nombreContacto">Calle Secundaria:</label>
                <input type="text" *ngIf="this.contacto != null" name="contacto.calleSecundaria"
                    [(ngModel)]="this.contacto.calleSecundaria" class="form-control" placeholder="calle Secundaria" required>
            </div>
                 
            </div>
        </div>

        <div class="form-group">
          <div class="form-row">

            <div class="col-md-4">
              <label for="nombreContacto">Puesto de trabajo</label>
              <input type="text" *ngIf="this.contacto != null" name="contacto.puestoTrabajo" [(ngModel)]="contacto.puestoTrabajo"
                  class="form-control" placeholder="Puesto de Trabajo" required>
          </div>
              <div class="col-md-4">
                  <label for="nombreContacto">Ciudad</label>
                  <input type="text" *ngIf="this.contacto != null" name="contacto.ciudad"
                      [(ngModel)]="this.contacto.ciudad" class="form-control" placeholder="Nombre ciudad" required>
              </div>                    
          </div>
      </div>


      <div class="form-group">
        <div class="form-row"> 
          
          <div class="col-md-4">
            <label for="nombreContacto">Correo Electronico:</label>
            <input type="text" *ngIf="this.contacto != null" name="contacto.correoElectronico"
                [(ngModel)]="this.contacto.correoElectronico" class="form-control" placeholder="correo Electronico" required>
        </div>
          

            <div class="col-md-4">
              <label>Seleccione un Estado</label>
              <select class="form-control" [(ngModel)]="this.estado1"
                  [ngModelOptions]="{standalone: true}">
                  <option  *ngIf="this.contacto.estado==null" value="0" >--Selecciona un Estado--</option>
                  <option *ngIf="this.contacto.estado!=null" hidden="true" value=0 >{{contacto.estado.nombreEstado}}</option>
                  <option *ngFor="let estado of estados" value={{this.estado.id}}>{{estado.nombreEstado}}</option>
              </select>
          </div>

          
          
             
        </div>
    </div>



      <div class="form-group">
        <div class="form-row">

          <div class="col-md-4">
            <label for="nombreContacto">Telefono</label>
            <input type="text" *ngIf="this.contacto != null" name="contacto.telefono" [(ngModel)]="contacto.telefono"
                class="form-control" placeholder="Telefono" required>
        </div>
            <div class="col-md-4">
                <label for="nombreContacto">Codigo Postal:</label>
                <input type="text" *ngIf="this.contacto != null" name="contacto.codigoPostal"
                    [(ngModel)]="this.contacto.codigoPostal" class="form-control" placeholder="Codigo Postal" required>
            </div>
            
        </div>
    </div>

    <div class="form-group">
      <div class="form-row">

        <div class="col-md-4">
          <label for="nombreContacto">Movil</label>
          <input type="text" *ngIf="this.contacto != null" name="contacto.movil" [(ngModel)]="contacto.movil"
              class="form-control" placeholder="Movil" required>
      </div>
          <div class="col-md-4">
              <label for="nombreContacto">NIF:</label>
              <input type="text" *ngIf="this.contacto != null" name="contacto.nif"
                  [(ngModel)]="this.contacto.nif" class="form-control" placeholder="nif" required>
          </div>
          
      </div>
  </div>
  <div class="form-group">
    <div class="form-row"> 
      <div class="col-md-4">     
        <label for="nombreContacto">Sitio Web</label>
        <input type="text" *ngIf="this.contacto != null" name="contacto.sitioWeb" [(ngModel)]="contacto.sitioWeb"
            class="form-control" placeholder="sitio Web" required>
    </div>
        
      </div>
</div>
<div class="form-group">
  <div class="form-row"> 
      <div class="col-md-4">
          <label for="nombreContacto">Notas:</label>
          <input type="text" *ngIf="this.contacto != null" name="contacto.notas"
              [(ngModel)]="this.contacto.notas" class="form-control" placeholder="notas" required>
      </div>
    </div>
</div>
        
          <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"> Agregar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Cancelar</button>
          </div>
      </form>
  </div>

</div> -->