<div class="card">
    <div class="card-header">
        <strong>Agregar</strong> Horario de Trabajo
    </div>
    <div class="card-body">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <div class="form-row">

                  <div class="col-md-6">
                      <label for="horaL1">Nombre Horarios de Trabajo:</label>
                    <input type="text" id="nombreHorariosT" name="nombreHorariosT" [(ngModel)]="this.horarioT.nombreHorariosT" class="form-control" placeholder="Horarios de Trabajo" 
                    required>
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Dia de la Semana:</label>
                    <input type="text" id="diaSemana" name="diaSemana" [(ngModel)]="this.horarioT.diaSemana" class="form-control" placeholder="Dia de la Semana" 
                    required>
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Trabajar Desde:</label>
                    <input id="trabajarDesde" step="1" name="trabajarDesde" [(ngModel)]="this.horarioT.trabajarDesde" class="form-control" placeholder="Trabajar Desde" type="time" required>
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Trabajar Hasta:</label>
                    <input id="trabajarHasta" step="1" name="trabajarHasta" [(ngModel)]="this.horarioT.trabajarHasta" class="form-control" placeholder="Trabajar Hasta" type="time" required>
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Fecha de Inicio:</label>
                    <input class="form-control" data-date-format="yyyy-mm-dd" id="fechaInicio" [(ngModel)]="this.horarioT.fechaInicio" type="date" name="fechaInicio" placeholder="Fecha de Inicio">
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Fecha de Finalizacion</label>
                    <input class="form-control" data-date-format="yyyy-mm-dd" id="fechaFinalizacion" [(ngModel)]="this.horarioT.fechaFinalizacion" type="date" name="fechaFinalizacion" placeholder="Fecha de Finalizacion">
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Periodo Dia</label>
                    <input type="text" id="periodoDia" name="periodoDia" [(ngModel)]="this.horarioT.periodoDia" class="form-control" placeholder="periodoDia" 
                    required>
                  </div>

                  <div class="col-md-6">
                      <label for="horaL1">Seleccione un Horario Laboral...</label>
                      <select id="horaL1" name="horaL1" class="form-control" [(ngModel)]="this.horaL1" [ngModelOptions]="{standalone: true}">
                        <option *ngIf="horarioT.horaLaboral==null" value=0 >Seleccione un Horario...</option>
                        <option *ngIf="horarioT.horaLaboral!=null" hidden="true" value={{this.horarioT.horaLaboral.id}} >{{this.horarioT.horaLaboral.nombreHoraL}}</option>
                        <option *ngFor="let HoraL of HorasL" value={{this.HoraL.id}}  >{{HoraL.nombreHoraL}}</option>
                      </select>
                    
              </div>
                  
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"> Guardar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Cancelar</button>
            </div>
        </form>
    </div>

</div>