<div class="row">
    <div class="col s12 m12">
      <div *ngIf="ferm" class="card" class="card blue-grey lighten-5">
        <div class="card-content">
          <span class="card-title">{{editMode ? 'Editar' : 'Nuevo'}} Pais</span>
          <form [formGroup]="ferm">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="nombrePais" formControlName="nombrePais">
                <label for="nombrePais" [class.active]="ferm.get('nombrePais').value !== null">nombrePais</label>
                <small class="red-text" *ngIf="ferm.get('nombrePais').value == null && ferm.get('nombrePais').touched">
                  Campo Invalido
                </small>
              </div>
            </div>
          </form>
        </div>
        <div class="card-action d-flex justify-content-flex-end">
          <div class="p-1">
            <button class="btn waves-effect cyan" routerLink="/contacto/pais/listarPais">Cancel</button>
          </div>
          <div class="p-1">
            <button class="btn waves-effect green" [disabled]="ferm.invalid" (click)="submit()">
              {{editMode ? 'Guardar Cambios' : 'Agregar Titulo'}}<i class="material-icons right">send</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>