.click{

    cursor: pointer;
}
.head{
    background-color: #2f353a;
}
.scroll{
    overflow: scroll;
    overflow-x: hidden;
     max-height: 250px;
}

.colorR{
    background-color: #20A8D8;
    border-color: white;
    color: white !important; 
}
.separator{
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ced4da;
    text-align: center;
}

.date{
    position: relative;
    top: 10px;
    margin: 0 auto;
    padding: 0 10px;
    font-weight: bold;
    background: white;
}

