<div class="row">
  <div class="col s12 m12">
      <div class="card" class="card blue-grey lighten-5">
          <div class="card-action d-flex justify-content-flex-end">
              <div class="p-1">
                  <button class="btn btn-outline-primary" routerLink="/empleado/departamento/agregarDepartamento">Agregar</button>
              </div>
          </div>
          <table datatable [dtTrigger]="dtTrigger">
              <thead>
                  <tr>
                    <th class="text-center">Nombre del Departamento</th>
                    <th class="text-center">Activo</th>
                    <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let departamento of departamentos">
                    <td>{{departamento.nombreDepartamento}}</td>
                    <td>{{departamento.estado}}</td>
                      <td class="d-flex">
                          <div class="p-2">
                              <a class="btn waves-effect btn-outline-primary" [routerLink]="['/empleado/departamento/agregarDepartamento', departamento.id]">
                                  <i class="material-icons">edit</i>
                              </a>
                          </div>
                          <div class="p-2">
                              <a class="btn waves-effect btn-outline-danger" (click)="delete(departamento.id)">
                                  <i class="material-icons">delete</i>
                              </a>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>



