<div class="card">
  <div class="card-header">
      <strong>Agregar</strong> Departamento
  </div>
  <div class="card-body">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
              <div class="form-row">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" id="nombreDepartamento" name="nombreDepartamento" [(ngModel)]="this.departamento.nombreDepartamento" class="form-control" placeholder="Nombre del Departamento" 
                  required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" id="estado" name="estado" [(ngModel)]="this.departamento.estado" class="form-control" placeholder="0" 
                  required>
                </div>
              </div>
          </div>

          <div class="col-md-4">
            <label>Seleccione un Empleado</label>
            <select class="form-control" [(ngModel)]="this.empleado1"
                [ngModelOptions]="{standalone: true}">
                <option  *ngIf="this.empleado==null" value="0" >--Selecciona un Empleado--</option>
                <option *ngIf="this.empleado!=null" hidden="true" value=0 >{{empleado.nombreEmpleado}}</option>
                <option *ngFor="let empleado of empleados" value={{this.empleado.id}}>{{empleado.nombreEmpleado}}</option>
            </select>
        </div>
          <!-- <div class="form-group">
            <div class="form-group select-wrapper">
              <label>Seleccione un Empleado...</label>
              <select class="form-control" [(ngModel)]="this.empleado1" [ngModelOptions]="{standalone: true}">
                <option  *ngIf="this.departamento.empleado==null" value=0 >Seleccione un Empleado...</option>
                <option *ngIf="this.departamento.empleado!=null" hidden="true" value={{this.departamento.empleado.id}} >{{this.departamento.empleado.nombreEmpleado}}</option>
                <option *ngFor="let empleado of empleados" value={{this.empleado.id}}  >{{empleado.nombreEmpleado}}</option>
              </select>
            </div>
      </div> -->
          <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"> Guardar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Cancelar</button>
          </div>
      </form>
  </div>

</div>