<button class="btn btn-info" (click)="this.largeModal.show()">Crear nuevo proyecto</button>
<br>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let proyecto of this.proyectos">
            <div class="card">
                <div class="card-header" (click)="this.navigate(this.proyecto.id)">
                    {{proyecto.nombreTarea}}
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para craer un nuevo Proyecto -->

<!-- Inicio de Modal -->

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{this.proyecto.nombreTarea}}</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formPro" (ngSubmit)="onCreate()" novalidate autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nombre del proyecto: </label>
                            <input type="text" [(ngModel)]="this.proyecto.nombreTarea" name="proyecto.nombreTarea" class="form-control" placeholder="Nombre del proyecto" required>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="largeModal.hide()">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="formPro">Guardar Proyecto</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->